.search__searchbox__input {
  padding: 10px 15px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  font-size: 16px;
  background: #2d2f30;
  color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search__searchbox__input > input {
  border: 0;
  padding: 0 15px;
  outline: 0;
  color: #f2f2f2;
  font-size: 16px;
  height: 30px;
  width: 80%;
  margin: 0;
}
.logo {
  text-align: center;
  margin-bottom: 35px;
}

.logo img {
  width: 200px;
}
.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search__searchbox {
  max-width: 600px;
  width: 80%;
  border-radius: 20px;
  outline: 0;
  font-size: 16px;
  background: #2d2f30;
  color: #f2f2f2;
}
.search__searchbox * {
  background: #2d2f30;
}
.search__searchbox__results {
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
  background: #2d2f30;
  border: 1px solid #2d2f30;
  margin-top: 15px;
  padding: 0 24px;
  transition: 0.1s;
}
.search__searchbox__results :hover {
  transition: 0.2s;
  color: #ffeb00;
}
hr {
  margin: 0 auto;
  width: 94%;
  border: 1px solid grey;
  border-radius: 20px;
}

.character__info {
  display: flex;
  background: #2d2f30;
  justify-content: space-between;
  width: 100%;
  padding: 2px 0;
}

p {
  margin: 5px 0;
}
.results {
  /* border: 1px solid white; */
  max-height: 300px;
  overflow-y: auto;
  border-radius: 20px;
  margin-bottom: 10px;
}

::-webkit-scrollbar {
  width: 5px;
  margin-right: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 50px;
}
